* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(108,153,168,1) 100%);
}

.title {
    text-align: center;
    font-size: 36px;
}

.main{
    display: grid;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.buttons button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.buttons .operation {
    background-color:rgba(232, 171, 45, 0.93);
}

button:hover,
button.operation:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    word-break: break-all;
    min-height: 8vh;
}

.previous-operand {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}

.current-operand {
    font-size: 3rem;
    color: white;
}
